.btn{
	color:black;
	margin-top:2%;
}

.fa{
	color:black;
}

#mainNav{
	background-color:#212529;
}

.szoveg{
	background-color:#212529;
	opacity: 0.8;
	border-radius: 10px;
}

#teampic{
	margin-left:20%;
}